@font-face{
	src:url('../fonts/Montserrat-Light.ttf');
	font-family: 'Montserrat';
}
@font-face{
	src:url('../fonts/Montserrat-SemiBold.ttf');
	font-family: 'Montserrat-bold';
}

:root {
	--my-green: #29453C;
	--my-white: #FBFBFB;
}

* {
	box-sizing: border-box;
	margin:0;
	padding:0;

	font-family: 'Montserrat';
	font-size:0.52vw;
}
html{
	width:100vw;
	height:100vh;
}
body{
	color:var(--my-green);
	background-color:var(--my-white);
	width:100%;
	height:100%;
	overflow: hidden;
}
#root, #root>div {
	height: 100%
}

h1{
	font-family: 'Montserrat';
	font-size:6.4rem;
	line-height:8.0rem;
	height:8.0rem;
}

h2{
	font-family: 'Montserrat-bold';
	font-size:3.5rem;
	line-height:4.8rem;
	height:4.8rem;
}

h3{
	font-family: 'Montserrat-bold';
	font-size:2.4rem;
	line-height:4.8rem;
	height:4.8rem;
	opacity:0.4;
	display:inline-block;
	width:10rem;
	text-align:center;
}

h4{
	font-family: 'Montserrat-bold';
	font-size:1.9rem;
	line-height:4.8rem;
	height:4.8rem;
}

p{
	font-family: 'Montserrat';
	font-size:2.5rem;
	line-height: 2.4rem;
	height:2.4rem;
	letter-spacing :0.5rem;
}

span{
	font-family: 'Montserrat';
	font-size:1.9rem;
	line-height: 2.4rem;
	height:2.4rem;
	display:block;
}

td, th{
	font-family: 'Montserrat-bold';
	font-size:1.9rem;
	line-height: 2.4rem;
	height:2.4rem;
}

table{
	position:relative;
	left:16rem;
	width:100%;
}

td{
	width:40%;
	padding:2rem 1rem 2rem 5rem;
	text-align:left;
	font-family: 'Montserrat-bold';
}

th{
	width:10%;
	text-align:center;
	font-weight: 400;
	font-family: 'Montserrat-bold';
}

button{
	background:none;
	border:none;
	cursor:pointer;
}

button:hover > * {
	text-decoration: underline;
}

a {color:var(--my-green); font-family: 'Montserrat-bold'; font-size:1.9rem;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: underline;}

.hover-scale:hover{
	transition:all 0.1s ease;
	transform:scale(1.015);
}

.active{
	font-family: 'Montserrat-bold';
	opacity:1;
}

.on{
	background-color:#29453C;
}

.menu-top{
	width:100%;
	top:6rem;
}

.menu-left{
	left:3rem;
	height:100%;
	flex-direction: column;
}